* {
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 16px;
    color: black;
    font-family: Arial, san-serif;
}
body {
    background: #89b;
    width: 100%;
    position: absolute;
}
header {
    position: relative;
    width: 100%;
    margin:auto;
    text-align: center;
    margin-top: 25px;
}
h1 {
    color: white;
    line-height: 36px;
    font-size: 32px;
}
input, button {
    margin: 15px 0;
    line-height: 30px;
    font-size: 20px;
    width: 500px;
    height: 30px;
    text-align: center;
}
button {
    width: 100px;
    margin-left: 20px;
    color: white;
    background: gray;
    border: solid 1px white;
    border-radius: 3px;
}
#container {
    position: relative;
    background: black;
    width: 760px;
    height: 760px;
    border: solid 1px #347;
    border-radius: 100%;
    margin: auto;
    text-align: center;
}
h3 {
    color:  transparent;
}
h3 span {
    color: white;
    font-family: Monaco, monospace;
    height: 285px;
    position: absolute;
    font-size: 36px;
    width: 20px;
    left: 370px;
    top: 100px;
    -ms-transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}
#portal {
    width: 380px;
    height: 380px;
    border: solid 1px grey;
    margin: auto;
    margin-top: 190px;
    border-radius: 100%;
    background: #125;
}
#fate {
    width: 200px;
    height: 200px;
    border: solid 1px #000;
    border-radius: 5px;
    background: #569;
    margin: auto;
    margin-top: 90px;
}
#fate p {
    font-size: 24px;
    color: #125;
    line-height: 28px;
    text-align: center;
    margin: 60px 15px 0;
}
@-webkit-keyframes shakeIt {
    0% { transform: translate(50px, 1px);}
    100% { transform: translate(50px, -2px);}
    90% { transform: translate(-45px, 0px);}
    80% { transform: translate(35px, 2px);}
    70% { transform: translate(-25px, -1px);}
    60% { transform: translate(15px, 2px);}
    50% { transform: translate(-25px, 1px);}
    40% { transform: translate(35px, 1px);}
    30% { transform: translate(-45px, -1px);}
    20% { transform: translate(50px, 2px);}
    10% { transform: translate(-45px, -2px);}
    0% { -webkit-transform: translate(50px, 1px);}
    100% { -webkit-transform: translate(50px, -2px);}
    90% { -webkit-transform: translate(-45px, 0px);}
    80% { -webkit-transform: translate(35px, 2px);}
    70% { -webkit-transform: translate(-25px, -1px);}
    60% { -webkit-transform: translate(15px, 2px);}
    50% { -webkit-transform: translate(-25px, 1px);}
    40% { -webkit-transform: translate(35px, 1px);}
    30% { -webkit-transform: translate(-45px, -1px);}
    20% { -webkit-transform: translate(50px, 2px);}
    10% { -webkit-transform: translate(-45px, -2px);}
}
.shakeIt {
    animation-name: shakeIt;
    animation-duration: 2s;
    transform-origin:50% 50%;
    animation-timing-function: linear;
    -webkit-animation-name: shakeIt;
    -webkit-animation-duration: 2s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes inverseShakeIt {
    0% { transform: translate(-70px, -1px);}
    100% { transform: translate(-70px, 2px);}
    90% { transform: translate(65px, 0px);}
    80% { transform: translate(-55px, -2px);}
    70% { transform: translate(45px, 1px);}
    60% { transform: translate(-35px, -2px);}
    50% { transform: translate(45px, -1px);}
    40% { transform: translate(-55px, -1px);}
    30% { transform: translate(65px, 1px);}
    20% { transform: translate(-70px, -2px);}
    10% { transform: translate(65px, 2px);}
    0% { -webkit-transform: translate(-70px, -1px);}
    100% { -webkit-transform: translate(-70px, 2px);}
    90% { -webkit-transform: translate(65px, 0px);}
    80% { -webkit-transform: translate(-55px, -2px);}
    70% { -webkit-transform: translate(45px, 1px);}
    60% { -webkit-transform: translate(-35px, -2px);}
    50% { -webkit-transform: translate(45px, -1px);}
    40% { -webkit-transform: translate(-55px, -1px);}
    30% { -webkit-transform: translate(65px, 1px);}
    20% { -webkit-transform: translate(-70px, -2px);}
    10% { -webkit-transform: translate(65px, 2px);}
}
.inverseShakeIt {
    animation-name: inverseShakeIt;
    animation-duration: 2s;
    transform-origin:50% 50%;
    animation-timing-function: linear;
    -webkit-animation-name: inverseShakeIt;
    -webkit-animation-duration: 2s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-timing-function: linear;
}
footer {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 50px auto;
}